# TASK 8

In [3]:
# Using While loop print 1 to 10
count=1
while(count<11):
    print(count,end=" ")
    count=count+1

1 2 3 4 5 6 7 8 9 10

In [5]:
# Using While loop print 10 to 1
count=10
while(count>0):
    print(count,end=" ")
    count=count-1

10 9 8 7 6 5 4 3 2 1

In [10]:
#using for loops for strings,lists,tuples, dictionaries, sets

#eg1:  STRING

str1='Hello'
for char in str1:
    print(char,)

H
e
l
l
o

In [12]:
#Eg 2  :  LIST
list1=['a',1,2,3,4,5,5.5,'python']
for char in list1:
    print(char)

a
1
2
3
4
5
5.5
python

In [27]:
#Eg 3  :  DICTIONARY
dict1={
    'Name':'Dhaval',
    'Class':"python"
}

for details in dict1:
    print(details)

Name
Class

In [33]:
#Eg 4  :  SETS
set1={1,1,12,2,3,2,4,5,2,1,'a','d','d','e','e'}
for char in set1:
    print(char)

1
2
3
4
5
12
d
e
a

In [38]:
#Eg 5  :  TUPLES
tup1=(1,2,3,1,2,4,2,2,3,4,6,2,1,2)
for char in tup1:
    print(char)

1
2
3
1
2
4
2
2
3
4
6
2
1
2